*{
    margin: 0%;
}

body {
    background-color: #ECE0FF;
    font-size: 16px;
    width: 100%;
}

.mainHeader {
    display: grid;
    grid-template-columns: 1fr .8fr 1fr    ;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 1%;
    height: auto;
    width: auto;
    background-color: #BF96FE;
}

.timeOur {
    color: #ece0ff;
    font-size: 2.5em;
}

.tittle {
    font-size: 3.5em;
    margin: 0;
    color: #ECE0FF;
}

.imgHeader{
    height: auto;
    width: 18%;
}

.introduction {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    padding: 1%;
    gap: 1%;
}

.introductionText {
    padding: 2%;
    width: 45%; 
    text-align: justify;
    color: black;
}

.introductionImg {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introductionImg img {
    width: 80%;
    height: auto;
    border-radius: 9%;
    transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
}

.introductionImg img:hover{
    transform: scale(1.05);
    filter: brightness(1);
}

.introductionText h3{
    font-size: 2.5em;
}

.introductionText p{
    font-size: 1.7rem;
}
.topMomentsHeader{
    margin-top: 2%;
    text-align: center;
    font-size: 2.6rem;
}
.moments{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2%;
}
.moment{
    display: grid;
    padding: 1.5%;
    background-color:#F8BAF7;
    width: 25%;
    height: 35%;
    border-radius: 9%;
}

.Birthdays{
    display: flex;
    border:30px solid pink;
    background-color: #FAD0D0 ;
    flex-direction: column;
}

.balloonsImg{
    width: 35%;
    height: auto;
    margin: 50px;
}
#left{
    transform: rotate(-45deg);
}

#right{
    transform: rotate(45deg);
    justify-self: right;
}

.headerBirthdays{
    display: grid;
    font-size: 210%;
    align-items: center;
    justify-content: center;
    font-family: "Happy Monkey", system-ui;
    text-align: center;
    gap: 30px;
    grid-template-columns:.5fr 2fr .5fr;
}

.tittleBD{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.descriptionBirthDay{
    text-align: justify;
    font-size: 175%;
    padding: 1.5%;
}

.divGift{
    display: flex;
    height: 350px;
    align-items: center;
    margin-left: 45%;
}

.giftContainer{
    position: relative;
}

.giftContainer::before{
    content: "";
    position:absolute;
    width: 170px;
    height: 20PX;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    top: 90px;
    left: -10px;
}

.gift{
    position: absolute;
    width: 150px;
    height: 100px;
    background-color: pink;
}
.gift::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 100px;
    background-color: red;
    left: 62px;
}
.gift::after{
    content: "";
    position: absolute;
    box-shadow: inset 0 10px rgba(0, 0, 0, 0.3);
    width: 150px;
    height: 100px;

}

#click{
    display: none;   
}

.click{
    position: absolute;
    background-color: pink;
    width: 170px;
    height: 40px;
    top: -40px;
    left: -10px;
    transform-origin: bottom left;
    transition: 0.3s;
    cursor: pointer;
}

.click::before{
    position: absolute;
    content: "";
    width: 25px;
    height: 40px;
    background-color: red;
    left: 72px;
}

.click::after{
    content: "";
    position: absolute;
    width: 5px;
    height: 0;
    border-bottom: 30px solid red;
    border-top: 30px solid red;
    border-left: 0 solid transparent;
    border-right: 30PX solid transparent;
    transform: rotate(-90deg);
    left: 65px;
    top: -47px;
}

#click:checked + .click{
    transform: rotate(-110deg) scale(0.85);
}

#click:checked~.wishes{
    transform: translateY(-120px);
    z-index: 1;
}

.wishes{
    position: absolute;
    transition: .5s;
    color: #333;
    font-size: 26px;
    text-transform: capitalize;
    text-align: center;
    z-index: -1;
    left: 10px;
}

@media (max-width: 768px){
    .swal2-popup {
        width: 250px;
    }
    
    .mainHeader{
        grid-template-columns: auto;
        grid-template-rows: 1fr .4fr 1fr;
    }
    .timeOur {
        font-size: 1.8em;
    }
    
    .tittle {
        font-size: 2.5em;
    }
    .introduction{
        flex-direction: column;
    }

    .introductionText{
        width: 95%;
        color: rgb(0, 0, 0);
    }
    .introductionText h3{
        font-size: 1.8em;
    }

    .introductionImg{
        width: 95%;
    }

    .introductionImg img {
        width: 86%;
        height: auto;
        border-radius: 5%;
    }

    .introductionText p{
        
        font-size: 1.2rem;
    }
    .topMomentsHeader{
        font-size: 1.6rem;
    }
    .Birthdays{
        border:10px solid pink;
        
    }
    .headerBirthdays{
        display: flex;
        flex-direction: column;
    }
    .descriptionBirthDay{
        text-align: justify;
        font-size: 120%;
        padding: 1.8%;
    }
    .balloonsImg{
        width: 25%;
        height: auto;
        margin: 10px;
    }
    #left{
        transform: rotate(0);
    }
    
    #right{
        transform: rotate(0);
        justify-self: center;
    }
    .divGift{
        display: flex;
        height: 350px;
        align-items: center;
        margin-left: 35%;
    }
    
}